<brls:Box
    id="settings_box"
    height="100%"
    width="100%"

    paddingLeft="10"
    paddingRight="10"
    paddingTop="10"
    paddingBottom="10"

    borderThickness="1"
    borderColor="#FFFFFF"
>


    <brls:Button
        id="update_check_button"
        text="Check for updates"
        height="10%"
        width="20%"
        backgroundColor="#69C4BB"
    />






</brls:Box>