<brls:Box
    id="settings_box"
    height="100%"
    width="100%"

    borderThickness="1"
    borderColor="#FFFFFF"
>


    <brls:Button
        id="update_check_button"
        text="Check for updates"
        height="8%"
        width="20%"
        backgroundColor="#69C4BB"
    />

    <brls:Button
        id="prefer_auto_install_toggle"
        text="Toggle Prefer Automatic Installation"
        width="30%"
        height="8%"
        backgroundColor="#69C4BB"
    />





</brls:Box>